<ion-view view-title="Dashboard">
    <ion-content class="padding">

        <div class="list card">

            <a href="#" class="item item-icon-left">
                <i class="icon ion-person"></i>
                {{userName}}
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-at"></i>
                {{userEmail}}
            </a>

        </div>

        <div class="list card">

            <a href="#" class="item item-icon-left">
                <i class="icon ion-pound"></i>
                {{teamName}}
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-unlocked"></i>
                {{teamPass}}
            </a>

            <a href="#/app_tabs/team_members" class="item item-icon-left">
                <i class="icon ion-ios-people"></i>
                {{teamDetails.number_of_team_members}} User(s)
            </a>

            <div class="item item-icon-left">
                <i class="icon ion-ios-nutrition"></i>
                {{teamDetails.number_of_votings}} Votings
            </div>

        </div>

    </ion-content>
</ion-view>